[submodule "store-desk-electron"]
	path = store-desk-electron
	url = https://github.com/TRUPALIX9/store-desk-electron.git
[submodule "store-desk-worker"]
	path = store-desk-worker
	url = https://github.com/TRUPALIX9/store-desk-worker.git
[submodule "store-desk-mobile"]
	path = store-desk-mobile
	url = https://github.com/TRUPALIX9/store-desk-mobile.git
[submodule "store-desk-web"]
	path = store-desk-web
	url = https://github.com/storedesk-dev/StoreDesk-web.git
[submodule "store-desk-cloud-backend"]
	path = store-desk-cloud-backend
	url = https://github.com/TRUPALIX9/store-desk-cloud-backend.git
